/* Styling for Home Page */

/*============================================================================*/
/*                              GENERAL STYLING                               */
/*============================================================================*/
body {
  overflow: hidden;
}
/* Overall section, contains the entire HTML body */
.ui {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #bfbfbf;
}
button {
  outline: none;
  border: none;
}

/*============================================================================*/
/*                           HEADER SECTION STYLING                           */
/*============================================================================*/
/* Entire header section */
.ui-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 85px;
  background: #32506e;
}

.header-title {
  flex: 1;
  color: #e6e6e6;
  /*text-align: center;*/
  font-size: 45px;
  padding-left: 50px;
}


/*============================================================================*/
/*                            MAIN CONTENT SECTION                            */
/*============================================================================*/
/* Main content section, includes folder and file panels */
.ui-contents {
  flex: 1;
  display: flex;
  flex-direction: row;
}

/* Styling for module panel */
.module-panel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #bfbfbf;
  max-height: calc(100vh - 95px);
  border-top: solid 5px #bfbfbf;
  border-bottom: solid 5px #bfbfbf;
}

/* Styling for module list headers */
.list-header {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: #32506e;

}
/* Folder and file styling */
.module-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Scrollbar styling */
.module-panel::-webkit-scrollbar {
  width: 10px;
}
.module-panel::-webkit-scrollbar-track {
  background-color: #bfbfbf;
}
.module-panel::-webkit-scrollbar-thumb {
  background-color: #32506e;
  border-radius: 5px;
  max-height: 50px;
}
/* Folder and File Buttons */
.module-button {
  font-size: 30px;
  color: #e6e6e6;
  background-color: #32506e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 140px;
  border-radius: 12px;
  overflow: hidden;
  flex: 0;
  flex-basis: 300px;
  margin: 20px;
  padding-top: 10px;
  min-width: 120px;
}

/* Module button hover effect */
.module-button:hover {
  color: #32506e;
  background-color: peru;
}
.module-button:hover g {
  fill: #32506e;
}

.module-svg {
  margin: -40px;
}
