/* Styling for Login Screen */

/*============================================================================*/
/*                              GENERAL STYLING                               */
/*============================================================================*/
body {
  overflow: hidden;
}
/* Overall section, contains the entire HTML body */
.login-form {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #32506e;
  justify-content: center;
  align-items: center;
}

.login-field p {
  font-size: 50px;
  margin: 0px;
  color: #e6e6e6;
  text-align: center;
}

.login-field input {
  width: 300px;
  padding: 10px;
  font-size: 20px;
  background-color: #bfbfbf;
  border-radius: 15px;
  outline: none;
  margin-bottom: 20px;
}

.hidden-err {
  font-size: 20px;
  visibility: hidden;
}

.visible-err {
  color: red;
  font-size: 20px;
  text-align: center;
}

.login-buttons {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  min-height: 70px;
}

.login-buttons button {
  outline: none;
  border: none;
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #32506e;
  background-color: #bfbfbf;
  border-radius: 25px;
  height: 50px;
  min-width: 150px;
  font-size: 25px;
  margin: 20px;
}

.login-buttons button div {
  padding: 2px;
}

.login-buttons button:hover {
  color: #32506e;
  background-color: peru;
}
