/* Styling for Remote File Server Interface */

/*============================================================================*/
/*                              GENERAL STYLING                               */
/*============================================================================*/
body {
  overflow: hidden;
}
/* Overall section, contains the entire HTML body */
.ui {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
button {
  outline: none;
  border: none;
}

/*============================================================================*/
/*                           HEADER SECTION STYLING                           */
/*============================================================================*/
/* Entire header section */
.ui-header {
  display: flex;
  flex-direction: row;
  height: 85px;
}
/* Overall icon block */
.icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(20vw - 45px);
  padding: 0px 30px;
  background-color: #32506e;
  border-right: solid 5px #bfbfbf;
}
/* Circle and line of connection icon */
.connection-circle {
  min-width: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 5px #bfbfbf;
  flex: 0;
}
.connection-line {
  min-width: 5px;
  height: 5px;
  background: #bfbfbf;
  margin: -2px;
  flex: 1;
}
/* Overall navbar section, including title and breadcrumbs */
.navbar {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #32506e;
  border-bottom: solid 5px #32506e;
}
/* Title text */
.nav-title {
  flex: 1;
  color: #bfbfbf;
  text-align: center;
  font-size: 35px;
}
/* Overall breadcrumb styling */
.breadcrumbs {
  font-size: 100px;
  list-style: none;
  overflow: hidden;
  margin: 0px;
  padding-left: 5px;
  height: 30px;
  display: relative;
}
/* Overall for each individual breadcrumb */
.breadcrumbs li {
  float: left;
}
/* Button styling for each breadcrumb */
.breadcrumbs li button {
  color: #32506e;
  font-size: 20px;
  text-decoration: none;
  padding: 0px 5px 0px 25px;
  background: #bfbfbf;
  position: relative;
  display: block;
  height: 30px;
}
/* Additional triangle and gap pixel */
.breadcrumbs li button:before,
.breadcrumbs li button:after {
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 100%;
}
/* Additional triangle on right of button */
.breadcrumbs li button:before { 
  border-left: 15px solid #32506e;
  margin-left: 1px;
  z-index: 1; 
}
/* Pixel wide gap between each breadcrumb */
.breadcrumbs li button:after { 
  border-left: 15px solid #bfbfbf;
  z-index: 2; 
}	
/* Padding in first breadcrumb button */
.breadcrumbs li:first-child button {
  padding-left: 10px;
}
/* Breadcrumb hover effects */
.breadcrumbs li button:hover {
  background-color: peru;
  border-color: peru;
}
.breadcrumbs li button:hover:after {
  border-left-color: peru;
}


/*============================================================================*/
/*                            MAIN CONTENT SECTION                            */
/*============================================================================*/
/* Main content section, includes folder and file panels */
.ui-contents {
  flex: 1;
  display: flex;
  flex-direction: row;
}
/* Folder and file styling */
.folder-panel,
.file-panel {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #bfbfbf;
  flex: 1;
}
.folder-panel {
  justify-content: space-evenly;
  max-height: calc(100vh - 205px);
  max-width: calc(20vw + 5px);
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-top: solid 5px #bfbfbf;
  border-bottom: solid 5px #bfbfbf;
  border-right: solid 5px #32506e;
}
.file-panel {
  align-content: flex-start;
  max-height: calc(100vh - 185px);
}
/* Scrollbar styling */
.folder-panel::-webkit-scrollbar,
.file-panel::-webkit-scrollbar {
  width: 10px;
}
.folder-panel::-webkit-scrollbar-track
.file-panel::-webkit-scrollbar-track {
  background-color: #bfbfbf;  
}
.folder-panel::-webkit-scrollbar-thumb,
.file-panel::-webkit-scrollbar-thumb {
  background-color: #32506e;
  border-radius: 5px;
}
/* Folder and File Buttons */
.folder,
.file {
  font-size: 20px;
  color: #32506e;
  background-color: #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  min-height: 120px;
  max-height: 180px;
  border-radius: 12px;
  overflow: hidden;
  flex: 1;
  flex-basis: 120px;
}
.folder {
  margin-bottom: 10px;
  min-width: 20px;
}
.file {
  align-self: flex-start;
  margin: 20px;
  min-width: 120px;
}
/* File button hover effect */
.folder:hover,
.file:hover {
  color: peru;
  background-color: #32506e;
}


/*============================================================================*/
/*                         EMPTY MAIN CONTENT SECTION                         */
/*============================================================================*/
/* Empty file panel */
.file-panel-empty {
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #32506e;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 185px);
  max-height: calc(100vh - 185px);
  background-color: #bfbfbf;
  flex: 1;
}
/* Brackets around no files message */
.file-panel-empty p {
  background-image: linear-gradient(#32506e, #32506e),
                    linear-gradient(#32506e, #32506e),
                    linear-gradient(#32506e, #32506e),
                    linear-gradient(#32506e, #32506e);
  background-repeat: no-repeat;
  background-size: 24px 9px;
  background-position: top left, top right, bottom left, bottom right;
  border: solid #32506e;
  border-width: 0 9px;
  margin: 24px;
  padding: 24px;
}


/*============================================================================*/
/*                         BOTTOM INTERACTIVE SECTION                         */
/*============================================================================*/
/* Bottom interactive panel, includes folder buttons, file data, and file buttons */
.bottom-panel {
  display: flex;
  min-height: 100px;
  height: 100px;
  background-color: #32506e;
}
/* Bottom folder and file panels */
.folder-panel-bottom,
.file-panel-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  overflow: hidden;
}
/* Bottom of folder panel, includes new folder and upload folder buttons */
.folder-panel-bottom {
  display: flex;
  flex-direction: column;
  width: calc(20vw + 5px);
  border-right: solid 5px #bfbfbf;
}
/* Bottom of the file panel, including file data and buttons */
.file-panel-bottom {
  display: flex;
  padding-left: 10px;
  flex: 1;
}
.folder-panel-bottom button,
.file-buttons button {
  color: #32506e;
  background-color: #bfbfbf;
  font-size: 20px;
  height: 35px;
  width: 150px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* New Folder and Upload File Buttons */
.folder-panel-bottom button {
  padding-left: 12px;
  padding-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Individual file buttons */
.file-buttons button {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
}
/* File data, including icon, name, size, and creation date */
.file-data,
.file-data-empty {
  flex: 1;
  color: #bfbfbf;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.file-data {
  padding: 10px;
}
/* Empty file data */
.file-data-empty {
  font-size: 30px;
  text-align: center;
}
/* Brackets around no file selected message */
.file-data-empty p {
  background-image: linear-gradient(#bfbfbf, #bfbfbf),
                    linear-gradient(#bfbfbf, #bfbfbf),
                    linear-gradient(#bfbfbf, #bfbfbf),
                    linear-gradient(#bfbfbf, #bfbfbf);
  background-repeat: no-repeat;
  background-size: 16px 6px;
  background-position: top left, top right, bottom left, bottom right;
  border: solid #bfbfbf;
  border-width: 0 6px;
  margin: 2px;
  padding: 10px;
}
/* Overall file info */
.fileinfo {
  margin-left:10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* File name */
.filename {
  font-size: 35px;
  margin-left: 0px;
  flex: 0;
}
/* File statistics */
.file-stats {
  font-size: 15px;
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* Individual file statistics */
.file-stats div {
  flex: 1;
}
/* Overall file buttons */
.file-buttons {
  flex: 0;
  padding-left: 10px;
}
/* Folder and file button hover effects */
.folder-panel-bottom button:hover,
.file-buttons button:hover {
  background-color: peru;
}


/*============================================================================*/
/*                            POPUP MODAL SECTION                             */
/*============================================================================*/
.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(191,191,191,0.6);
}
.popup-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  border-radius: 20px;
  color: #bfbfbf;
  background: #32506e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.popup-msg {
  font-size: 40px;
  text-align: center;
  align-self: center;
  flex: 0;
  min-height: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.popup-msg-small {
  font-size: 30px;
  text-align: center;
  align-self: center;
  flex: 0;
  min-height: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.popup-input {
  width: 300px;
  padding: 10px;
  font-size: 20px;
  background-color: #bfbfbf;
  border-radius: 15px;
  outline: none;
}

.popup-buttons {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  min-height: 70px;
}

.popup-buttons button {
  flex: 0;
  color: #32506e;
  background-color: #bfbfbf;
  border-radius: 25px;
  height: 50px;
  min-width: 120px;
  font-size: 25px;
}

.popup-buttons button:hover {
  background-color: peru;
}
